<mat-card *ngIf="medias !== undefined && medias.length > 0">
    
    <mat-card-header><mat-card-title>Gallery</mat-card-title></mat-card-header>

    <mat-card-content class="section-content" [style.height.px]="sectionHeight">
        <ng-container *ngFor="let row of rows; let i = index;">
            <ng-container *ngFor="let media of row.medias; let j = index;">
                <app-media 
                    [height]="row.height"
                    [width]="media.width * row.height / media.height"
                    [heightShift]="cumulativeHeight(i)" 
                    [widthShift]="cumulativeWidth(row, j)"
                    [media]=media>
                </app-media>
            </ng-container>
        </ng-container>
    </mat-card-content>

</mat-card>