# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#

# System files
.DS_Store
Thumbs.db

# Visual Studio Code
**/.vscode/*
.history/*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Development files
dev

#######################
# BACKEND
#######################
backend/bin/**
backend/obj/**

#######################
# FRONTEND
#######################
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
node_modules/
npm-debug.log
yarn-error.log

# Miscellaneous
frontend/.angular/cache
.sass-cache/
connect.lock
coverage
libpeerconnection.log
testem.log
typings

